//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

.header {
  color: black;
  // .header__container

  &__container {
  }

  // .header__menu

  &__menu {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 40px 0px;
  }

  // .header__logo

  &__logo {
  }
}

.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    position: relative;
  }

  // .menu__list

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  // .menu__item

  &__item {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    // border-bottom: 1px solid #000;
  }

  // .menu__link

  &__link {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      border-bottom: 1px solid #000;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    &:hover:before {
      transform: scaleX(1);
    }
  }
}

// #underline{
//   position: absolute;
//   height: rem(1);
//   width: 100%;
//   background-color: #000;
//   left: 0;
//   bottom: -0.5rem;
//   transition: all 0.5s ease 0s;
// }

.icon-menu {
}
